/* COMMON */

body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

li{
    list-style: none;
    display: inline-block;
}

a{
    text-decoration: none;    
    color: #7c7e83;
    font-size: 12px;
}

h2{
    margin-top:30px;
}

p{
    font-size: 80%;
    margin: 10px 0;
    color: #7c7e83;
}




/* main */

/* pannello laterale */
.aside{
    height: calc(100vh - 90px);
    background-color: black;

}

.aside .row{
    flex-direction: column;
}


/* container centrale */
.main-container{
    height: calc(100vh - 90px);
    background-color: #141922;
    overflow-y: auto;
}

/* barra layover */
.main-header{
    height: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: calc((100% / 12) * 2);
    right: 0;
    z-index: 1;
}

.upgrade{
    height: 90px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.upgrade>span{
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 20px;
    margin-right: 25px;
    padding: 10px 40px;
}

/* contenuto main */
.main-body{
    margin-top: 90px;
    padding: 20px;
}

/* main-menu */

li{
    text-transform: uppercase;
}

li a{    
    font-weight: 600;
    margin: 0 10px;    
}

.row img{
    width: 100%;
    margin-top: 20px;
}

.box-info{
    text-align: center;
    margin-top: 15px;
}

.main-body .row:last-child img{
    border-radius: 50%;
}






/* footer */

footer{
    height: 90px;
    background-color: #282828;

}



/* debug */

/* .debug .aside{
    background-color: red;
} */

/* .debug .main-container{
    background-color: lime;
} */










/* footer debug */

/* .debug footer{
    
    background-color: brown;
} */