/* COMMON */

body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

li{
    list-style: none;
    display: inline-block;
}

a{
    text-decoration: none;    
    color: #7c7e83;
    font-size: 12px;
}

h2{
    margin-top:30px;
}

p{
    font-size: 80%;
    margin: 10px 0;
    color: #7c7e83;
}




/* main */

/* pannello laterale */
.aside{
    height: calc(100vh - 90px);
    background-color: black;
    overflow: hidden;
    

}

.aside .row{
    flex-direction: column;
    height: 100%;
    width: 100%;
    
}

.sidebar-container{
    min-height: 410px;
    height: calc(100vh - 90px);
    padding: 5px 10px;
}

.sidebar-top{
    width: 100%;
    height: calc( 100% - 100px);

    
}

/* logo */

.logo{
    height: 90px;
    padding-top: 10px;
}

.aside .row .logo img{
    width: 60%;
}


/* menu lista sidebar-top */

.sidebar-top nav{
    margin-bottom: 20px;
}

nav .list-side-menu,
.playlist .add,
.sidebar-bottom .download,
.sidebar-bottom .user{
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav .list-side-menu div{
    width: 30px;
    height: 30px;
}

nav .list-side-menu div>img,
.sidebar-bottom .download div>img{
    filter: invert(0.5);
}

nav .list-side-menu p,
.playlist .add p,
.sidebar-bottom .download p{
    margin-left: 10px;
}

nav .list-side-menu p>a,
.playlist .add p>a,
.sidebar-bottom .download p>a{
    font-weight: 600;
}


/* palylist side bar */

.playlist{
    overflow: hidden;
    height: 80%;
}

.playlist h4{
    text-transform: uppercase;
    margin-bottom: 20px;
}

.playlist .add div{
    width: 40px;
    height: 40px;
    background-color: #a3a3a3;
    text-align: center;
    line-height: 40px;
}

.playlist .add i{
    font-size: 22px;
    color: black;
}


/* lista playlist */

.playlist ul{
    margin-top: 20px;
}

.playlist ul li{
    display: block;
    margin-bottom: 15px;
    
}

.list-overflow{
    overflow-y: auto;
    height: 40%;
}

.playlist a{
    text-transform: none;
    margin: 0;
}


/* sidebar-bottom */
.sidebar-bottom{
    height: 100px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
}


.sidebar-bottom .download div{
    height: 20px;
    width: 20px;
}

hr{
    margin-bottom: 10px;
}


.sidebar-bottom .user div{
    width: 30px;
    height: 30px;
    background-color: #808080;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}







/* menu alto */

/* container centrale */
.main-container{
    height: calc(100vh - 90px);
    background-color: #141922;
    overflow-y: auto;
}

/* barra layover */
.main-header{
    height: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: calc((100% / 12) * 2);
    right: 0;
    z-index: 1;
}

.upgrade{
    height: 90px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.upgrade>span{
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 20px;
    margin-right: 25px;
    padding: 10px 40px;
}

/* contenuto main */
.main-body{
    margin-top: 90px;
    padding: 20px;
}

/* main-menu */

li{
    text-transform: uppercase;
}

li a{    
    font-weight: 600;
    margin: 0 10px;    
}

.row .main-body img{
    width: 100%;
    margin-top: 20px;
}

.box-info{
    text-align: center;
    margin-top: 15px;
}

.main-body .row:last-child img{
    border-radius: 50%;
}






/* footer */

footer{
    height: 90px;
    background-color: #282828;

}











/* debug */

/* .debug .aside{
    background-color: red;
} */

/* .debug .main-container{
    background-color: lime;
} */


/* .debug .logo{
    height: 90px;
    background-color: coral;
} */


/* .debug .playlist{
    height: 100px;
    background-color: turquoise;
} */


/* .debug .sidebar-bottom{
    background-color: red;
} */


/* .debug nav .home div{
    background-color: red;
} */








/* footer debug */

/* .debug footer{
    
    background-color: brown;
} */


.debug footer .box{
    height: 90px;
    background-color: yellow;
    border: 1px solid green;
}